

body {
  background-image: url(back-dep1.PNG);
  margin-left: 223px;
  margin-top: 293px;
      width:900px;
  background-repeat: no-repeat;
  background-size: 1600px;
  background-color:#ffffff;
}

:focus {
				outline:none;
				}
				
			:focus::-webkit-input-placeholder {
				opacity:0;
				}
			:focus::-moz-placeholder {
				opacity:0;
				}
			:focus::-ms-input-placeholder {
				opacity:0;
				}	
			:focus::-moz-placeholder {
				opacity:0;
				}	
				
				
  		.dark {
   width: 436px;
    border: 1px solid #fff;
    border-radius: 10px;
    background-color: #fff;
    padding: .6em;
    display: block;
    margin: 78px 729px 0px;
    overflow: visible;
	font-size: 18px;
	height: 49x;
	font-family: inherit;
}

.dark::placeholder {
    color: #acacac;
    display: block;
    font-family: "Open Sans" , sans-serif ; 
    font-size: 14px;
    padding: 11px 0px 12px 5px;
}

  		.region {
   width: 436px;
    border: 1px solid #fff;
    border-radius: 10px;
    background-color: #fff;
	color: #47554c;
    padding: .6em;
    display: block;
    margin: 46px 729px 0px;
    overflow: visible;
	font-size: 18px;
	height: 49x;
	font-family: inherit;
}


	.btn-primary {
    height: 44px;
    width: 346px;
    border-radius: 24px;
    border: 1px solid #007d8f;
    display: block;
    color: #FFF;
    background-color: #007461;
    font-size: 13.5px;
    padding: 11px;
    margin: 72px 774px;
	font-weight:bold;
	font-family: sans-serif;
	cursor:pointer;
	}

.btn-primary:hover {
  background-color: #308276; 
}




@media only screen and (max-width: 1366px) {
body {
  background-image: url(back-dep.PNG);
  margin-left: 223px;
  margin-top: 293px;
      width:900px;
  background-repeat: no-repeat;
  background-size: 1366px;
  background-color:#ffffff;
}

:focus {
				outline:none;
				}
				
			:focus::-webkit-input-placeholder {
				opacity:0;
				}
			:focus::-moz-placeholder {
				opacity:0;
				}
			:focus::-ms-input-placeholder {
				opacity:0;
				}	
			:focus::-moz-placeholder {
				opacity:0;
				}	
				
				
  		.dark {
   width: 366px;
    border: 1px solid #fff;
    border-radius: 10px;
    background-color: #fff;
    padding: .6em;
    display: block;
    margin: 123px 575px 0px;
    overflow: visible;
	font-size: 18px;
	height: 49px;
	font-family: sans-serif;
	
}

.dark::placeholder {
    color: #acacac;
    display: block;
    font-family: "Open Sans" , sans-serif ; 
    font-size: 14px;
    padding: 11px 0px 12px 5px;
}

  		.region {
   width: 366px;
    border: 1px solid #fff;
    border-radius: 10px;
    background-color: #fff;
	color: #47554c;
    padding: .6em;
    display: block;
    margin: 41px 575px 0px;
    overflow: visible;
	font-size: 15px;
	height: 49px;
	font-family: sans-serif;
	font-weight:normal;
}


	.btn-primary {
    height: 44px;
    width: 346px;
    border-radius: 24px;
    border: none;
    display: block;
    color: #FFF;
    background-color: #007461;
    font-size: 13.5px;
    padding: 11px;
    margin: 35px 586px;
	font-weight:bold;
	cursor:pointer;
	}

.btn-primary:hover {
  background-color: #308276; 
}

}
	
@media only screen and (max-width: 414px) {
  body { 
    background-image: url(dep.PNG);
	margin-top: 0px;
    margin-left: -26px;
	background-size: cover;
	width: 99%;
  }
  
  
  
  
  		.dark {
   width: 215px;
    border: 1px solid #fff;
    border-radius: 10px;
    background-color: #fff;
    padding: .6em;
    display: block;
    margin: 393px 80px 0px;
    overflow: visible;
	font-size: 18px;
	height: 50px;
	font-family: inherit;
	-webkit-writing-mode: horizontal-tb;
}

.dark::placeholder {
    color: #747478;
    display: block;
    font-family: "Open Sans" , sans-serif ; 
    font-size: 17px;
    padding: 11px 0px 12px 5px;
}



  		.region {
   width: 211px;
    border: 1px solid #fff;
    border-radius: 10px;
    background-color: #fff;
	color: #47554c;
    padding: .6em;
    display: block;
    margin: 46px 80px ;
    overflow: visible;
	font-size: 18px;
	height: 49x;
	font-family: inherit;
}




	.btn-primary {
    height: 40px;
    width: 185px;
    border-radius: 24px;
    border: 1px solid #007d8f;
    display: block;
    color: #FFF;
    background-color: #007461;
    font-size: 13.5px;
    padding: 11px;
    margin: 50px 95px;
	font-weight:bold;
	}
}