
body {
  background-image: url(SMS1.PNG);
  margin-left: 223px;
  margin-top: 293px;
      width:900px;
  background-repeat: no-repeat;
  background-size: 1600px;
  background-color:#ffffff;
}
  		.dark {
    text-align: center;
    width: 677px;
    border: 1px solid #c1c9d6;
    border-radius: 10px;
    background-color: #fff;
    padding: 0.6em;
    display: block;
    margin: 142px 654px 0px;
    overflow: visible;
    font-size: 18px;
    height: 48px;
    font-family: inherit;
    -webkit-writing-mode: horizontal-tb;
}

	.btn-primary {
    height: 44px;
    width: 160px;
    border-radius: 24px;
    border: 1px solid #007461;
    display: block;
    color: #FFF;
    background-color: #007461;
    font-size: 15px;
    padding: 11px;
    font-weight: bold;
    margin: 12px 928px;
    font-family: sans-serif;
    cursor: pointer;
	}

.btn-primary:hover {
  background-color: #308276; 
}

@media only screen and (max-width: 1366px) {
body {
  background-image: url(SMS.PNG);
  margin-left: 223px;
  margin-top: 293px;
      width:900px;
  background-repeat: no-repeat;
  background-size: 1366px;
  background-color:#ffffff;
}
  		.dark {
    text-align: center;
    width: 547px;
    border: 1px solid #c1c9d6;
    border-radius: 12px;
    background-color: #fff;
    padding: 0.6em;
    display: block;
    margin: 190px 513px 0px;
    overflow: visible;
    font-size: 18px;
    height: 48px;
    font-family: sans-serif;
    -webkit-writing-mode: horizontal-tb;
}

	.btn-primary {
    height: 42px;
    width: 150px;
    border-radius: 24px;
    border: 1px solid #007461;
    display: block;
    color: #FFF;
    background-color: #007461;
    font-size: 14px;
    padding: 11px;
    font-weight: bold;
    margin: 30px 726px;
    cursor: pointer;
	}

.btn-primary:hover {
  background-color: #308276; 
}
}
	
@media only screen and (max-width: 414px) {
  body { 
    background-image: url(mob-sms.PNG);
	margin-top: 0px;
    margin-left: 0px;
	background-size: cover;
	width: 99%;
  }
  
  
  
  
  		.dark {
   width: 290px;
    border: 1px solid #c3c5c6;
    border-radius: 12px;
    background-color: #fff;
    padding: .6em;
    display: block;
    margin: 526px 45px 0px;
    overflow: visible;
	font-size: 18px;
	height: 47px;
	font-family: inherit;
	-webkit-writing-mode: horizontal-tb;
}

	.btn-primary {
    height: 41px;
    width: 338px;
    border-radius: 24px;
    border: none;
    display: block;
    color: #FFF;
    background-color: #007360;
    font-size: 14px;
    padding: 11px;
    margin: -5px 20px;
	font-weight: normal;
	margin-bottom: -300px;
	}
